doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    link(rel='stylesheet', href='assets/css/main.css')
    |     
    title Stepper
  body
    #stepper-wrapper.stepper-wrapper
      .stepper_result
        .stepper_result_item
        |             
        .stepper_result_item
      |         
      .stepper_view
        .stepper_step.active_step STEP 1
        |             
        .stepper_step STEP 2
        |             
        .stepper_step STEP 3
        |             
        .stepper_step STEP 4
      |         
      .stepper_control
        button.stapper_control_back.stapper_control_btn Back
        |             
        span.stepper_control_current-step
          | step
          span.stepper_control_current-step_val 1
        |             
        button.stapper_control_next.stapper_control_btn Next
    |     
    script(src='assets/js/index.js')
